p {
	margin: 10px 0;
}

ul {
	list-style-position: inside;
}

.step-name {
	text-align: center;
}

.info-section  .row {
	padding: 0 40px;
}

.step-actions {
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: inherit;
}

.step-impl {
	border-color: inherit;
}

.step-impl ul li p {
	padding-left: 50px;
}

.step-impl-phase:before {
	content: ' \273b  ';
}

.task-solution {
	border-top-width: 2px;
	border-top-style: solid;
	border-color: inherit;
	margin-bottom: 15px;
}